.card {
  max-width: 420px;
  padding: 30px 35px;

  .title {
    margin-bottom: 25px;
    text-align: center;
  }

  .fieldEmail {
    margin-bottom: 20px;
  }

  .fieldPassword {
    margin-bottom: 20px;
  }

  .passwordConfirmation {
    margin-bottom: 35px;
  }

  .button {
    margin-bottom: 20px;
  }

  .caption {
    margin-bottom: 11px;
    color: var(--color-light-900);
    text-align: center;
  }

  .signInLink {
    display: flex;
    justify-content: center;

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary-500);
  }
}
